---
layout: default
---
<h1>Featured Post</h1>
{% if site.featured %}
{% for post in site.posts %}
	{% if post.title == site.featured %}
        <div class="block" style="background-color: #363636">
            <h3>Admin's note</h3>
            <h5>
                We've decided to feature this post {{ site.featuredreason }} 
            </h5>
        </div>

        <hr style="width: 50%" />

        <div class="post">
            {% include embed_post.html showurl=1 post=post %}
        </div>
	{% endif %}
{% endfor %}
{% else %}
	<h2>There is no featured post.</h2>
{% endif %}
