@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body {
	background: #161616;
	color: #d1d1d1;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	text-align: center;
	font-weight: 100;
	margin: 0;
	padding: 0;
	margin-bottom: 64px;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

hr {
	border: 0;
	border-top: 1px solid grey;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
	-moz-transition: color 350ms;
	-webkit-transition: color 350ms;
	transition: color 350ms;
	color: #ffaf00;
}

a:hover {
	color: grey;
}

.mid {
	margin-top: 5%;
	margin-bottom: 5px;
}

.thin {
	font-weight: 100;
}

.headerbg { 
	background: linear-gradient(275deg, #4286f4, #002f7c, #65007f);
	background-size: 350%;
	-webkit-animation: bg 20s ease infinite;
	-moz-animation: bg 20s ease infinite;
	animation: bg 20s ease infinite;
	height: 8.5%;
}

@keyframes bg {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.bottom {
	left: 50%;
	color: grey;
}

/* Header */
header {
	background: rgba(0, 0, 0, 0.4);
	border-top: 2px solid #ffaf00;
	box-shadow: 0 0 4px black;
	height: 64px;
	width: 100%;
	z-index: 100;
	position: relative;
}

nav {
	top: 20px;
	position: relative;
}

nav a {
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
	color: inherit;
	padding: 20px;
	transition: background .2s ease-in-out, box-shadow .4s, color .6s, border-bottom 2s;
	vertical-align: bottom;
	font-size: 20;
}

nav a:hover {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid rgba(255, 175, 0, 1);
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
}

a {
	text-decoration: none;
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	height: 64px;
	width: 100%;
	background-color: #353535;
	left: 0;
	box-shadow: 0 0 20px 0 rgba(255,175,0,0.2);
}

.footerright {
	float: right;
	margin-right: 14px;
	color: grey;
	transition: .8s color;
}

.footerright:hover {
	color: white;
}

.footerright a {
	color: inherit;
}

.footerright a:hover {
	color: #ffaf00;
}

.footerleft {
	float: left;
	margin-left: 14px;
}

.animated-link {
	color: #3F51B5;
	-webkit-transition: color 350ms;
	-moz-transition:color 350ms;
	-ms-transition:color 350ms;
	-o-transition: color 350ms;
	transition: color 350ms;
}

.categories a {
	display: inline-flex;
	vertical-align: middle;
	margin: auto;
	width: 200px;
	margin: 12px;
	padding: 40px;
	background: rgba(255, 255, 255, 0.02);
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
	color: inherit;
	transition: background .2s ease-in-out, box-shadow .4s, color .6s, border-bottom 2s;
	font-size: 20;
}

.categories a:hover {
	color: red;
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid rgba(255, 0, 0, 1);
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.navigation a {
	padding: 12px;
	background: rgba(255, 255, 255, 0.02);
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
	color: inherit;
	transition: background .2s ease-in-out, box-shadow .4s, color .6s, border-bottom 2s;
	position: relative;
}

.navigation a:hover {
	color: red;
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid rgba(255, 0, 0, 1);
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.grey {
	color: grey;
}

.highlight {
	text-align: left;
	display: inline-flex;
	margin: 0;
}

.smallpost {
	height: 80px;
	border-bottom: 1px solid grey;
	width: 50%;
	padding-bottom: 10px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	word-wrap: break-word;
}

/* Mobile Optimising */
.mobile { display: none; } 
.desktop { display: inline; }

@media only screen and (max-width: 700px) {
	.mobile { display: inline; }
	nav { position: absolute; right: 0; }
	header { background: rgba(0, 0, 0, 0.8); }
	#desktop {
		background: rgba(0, 0, 0, 0.8);
		display: block;
		height: 75vh;
		width: 100vw;
		z-index: -1;

		transition: 1s top;
		transition-timing-function: ease;

		position: fixed;
		top: calc(64px + 1px * 2);
		right: 0;
		box-shadow: 0 0 4px black;
	}
	#desktop.hidden {
		top: -100vh;
	}
	#desktop a {
		background: rgba(255, 255, 255, 0.1);
		border-bottom: 3px solid rgba(255, 175, 0, 1);
		box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
		display: flex;
		vertical-align: middle;
		margin: auto;
		width: 200px;
		margin-top: 12px;
	}
	.categories a {
		display: inline-flex;
		width: 120px;
		margin: 5px;
		padding: 15px;
		border-bottom: 3px solid rgba(255, 255, 255, 0.1);
		color: inherit;
		transition: background .2s ease-in-out, box-shadow .4s, color .6s, border-bottom 2s;
	}
	.categories a:hover {
		background: rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
	}
	h2, h3, h4, h5 {
		padding: 12px;
	}
	footer h2, h3 {
		padding: 4px;
	}
	body {
		margin-bottom: 108px;
	}
	.smallpost {
		height: 175px;
		width: 50%;
		padding-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}
	.smallpost h3 {
		margin-bottom: 0;
	}
}

/* Vote right hamburger menu alignment!
	I personally find that easier on mobile since I'm right handed.
	Sorry lefties! */

/* Posts */
.post {
	padding: 50px;
	padding-top: 20px;
	margin: 50px;
	text-align: left
}
.post h2, h4 {
	margin: 2px;
}

/* Featured */
.block {
	display: inline-block;
	vertical-align: bottom;
	width: 250px;
	height: 250px;
	background-color: #262626;
	color: orange;
	border-radius: 5px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0);
	transition: .4s transform, 1s box-shadow;
	padding: 12px;
	margin-bottom: 12px;
}

.block:hover {
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
	transform: scale(1.03);
}

/* Really lazy work-around. It works. */
.block h5 { height: 100px }