<html>
	<head>
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/software.html">Software</a>
				<a href="/music.html">Music</a>
				<a href="/discord.html">Discord</a>
				<a href="/contact.html">Contact</a>
			</nav>
		</header>
		{{ content }}
		<div class="bottom">
			<h3>Mnpn & jD91mZM2</h3>
		</div>
		<footer class="footer">
			<div class="footerleft">
				I Hate Restrictions Online - 2018
			</div>
			<div class="footerright">
				Mnpn & jD91mZM2
			</div>
		</footer>
	</body>
</html>